<h1>Hello {{ titleApp }} {{ versionApp }}</h1>
<h2>My list of Users:</h2>
<ul class="users">
	<!-- Adding *ngFor directive for iterate to the list of users of the component ("listOfUsers" component's property)		 
	Adding also click event over the user; event handler in component: onSelect(),
		 passing the current user in the list as argument, through "user" variable defined in *ngFor;
		 we "catch" the clicked user in the component through a "selectedUser" property
		 Also, we apply an CSS class ("selected") in case that the current user in the list
		 is equal to the selected user -->
	<li *ngFor="let user of listOfUsers" (click)="onSelect(user)" [class.selected]="user===selectedUser">
		<!-- UPDATE: we fix the information, using the "selectedUser" property of the component -->
		<span class="badge">{{ user.fullName}} &lt;{{ user.email }}&gt;</span>
	</li>
</ul>

<!-- We only show the DETAIl contents if an user is previously selected -->
<div *ngIf="selectedUser">
	<h4>Selected User Info. ({{ selectedUser.login }}) :</h4>
	<ul>
		<li><strong>Id:</strong> {{ selectedUser.id }}</li>
		<li><strong>Full Name:</strong> {{ selectedUser.fullName }}</li>
		<!-- By this way we can add/remove at the same time SEVERAL CSS classes to the element, 
		according to different component properties values; we do that calling a method we defined
		in the component to make this task -->
		<li [ngClass]="setCssClasses()">{{ selectedUser.email }}</li>
		<li [ngClass]="setCssClasses()">{{ selectedUser.mobile }}</li>
		<!-- By this way we can add/remove ONE inline CSS style -->
		<li [style.font-size]="isSpecial ? 'x-large' : 'smaller'">{{ selectedUser.city }}</li>
		<!-- By this way we can add/remove SEVERAL inline CSS styles to the element,
		according to different component properties values; we do that calling a method we defined
		in the component to make this task -->
		<li [ngStyle]="setCssInlineStyles()">{{ selectedUser.country }}</li>
		<!-- By this way we can add/remove one CSS class to the element, depending of component property value (isUserCredentials) -->
		<li [class.userCredentials]="isUserCredentials"><strong>Login:</strong> {{ selectedUser.login }}</li>
		<li [class.userCredentials]="isUserCredentials"><strong>Password:</strong> {{ selectedUser.password }}</li>
	</ul>
	<h4>ACCESS CREDENTIALS:</h4>
	<ul style="list-style-type:none">
		<!-- Two-way data binding in forms fields -->
		<li><input [(ngModel)]="selectedUser.login" placeholder="Login"/></li>
		<li><input [(ngModel)]="selectedUser.password" placeholder="Password"/></li>
	</ul>
</div>